@model TravelBookingUI.Models.JourneyRequest
@using Microsoft.AspNetCore.Identity
@using TravelBookingUI.Areas.Identity
@using TravelBookingUI.Models
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="bg-box p-2">
    <h4>Travel Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            Travel Date/Time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>
    </dl>
    <div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

